<app-header></app-header>
<div class="container">
  <div class="row mrg">
    <div class="col-md-6">
      <lib-profile-card
        name="Bhargav Bachina"
        imageURL="https://homepages.cae.wisc.edu/~ece533/images/frymire.png"
        age="99"
        address="101 stname city State, 99999"
        status="No Idea"
        >
      </lib-profile-card>
   </div>
   <div class="col-md-6">
     <h2>Experience</h2>
    <accordion>
      <accordion-group heading="Project 1">
        <p>This content is about project 1. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </accordion-group>
      <accordion-group heading="Project 2">
        <p>This content is about project 2. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </accordion-group>
      <accordion-group heading="Project 3">
        <p>This content is about project 3. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </accordion-group>
      <accordion-group heading="Project 4">
        <p>This content is about project 4. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
          blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
      </accordion-group>
    </accordion>
  </div>
</div>
</div>
<app-footer></app-footer>
